<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" ng-app="App"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en" ng-app="App"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" ng-app="App"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="App"> <!--<![endif]-->
<head>
    <title>{{ Meta.title() }}</title>

    <meta charset="utf-8">
    <meta name="keywords" content="{{ Meta.keywords() }}"/>
    <meta name="description" content="{{ Meta.description() }}"/>
    <meta name="copyright" content=""/>
    <meta name="content-languge" content="en"/>
    <meta name="language" content="english"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="{{ Meta.title() }}">
    <meta property="og:description" content="{{ Meta.description() }}">
    <meta property="og:image" content="{{ Meta.image() }}">


    <!-- TODO Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/assets/css/main.min.css">

    <base href="/"/>
</head>
<body>

{% block content %}
{% endblock %}

<!-- TODO switch to minified versions on production -->
<script src="/assets/js/lib.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>